<div class="mb-4 d-flex align-items-left justify-content-center">
  <div class="containe text-center p-5">
    <h2 class="py-3">Explore dining experiences</h2>


    <%= render 'searchbar' %>

</div>
<div class="container">

  <div class="row">
  <%= render 'card', dining: @dining %>
</div>
  <hr>
  <div class="wrapper justify-content-center">

    <div class="d-flex align-items-center justify-content-between mb-3">
      <%= link_to "Create dining", new_dining_path, class: "btn button-dark" %>
    </div>
  </div>

<hr>
  <div class="py-3">
    <div style="width: 100%; height: 500px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

</div>