<div class="container p-5 justify-content-center">
          <div class="title text-center p-3 mb-3">
            <h1><%= @dining.name %></h1>
          </div>
  <div class="container white-banner">
          <div class="row">
          <div class="col">
            <div class="dining-image">
              <% unless @dining.photo.key.nil? %>
                <div class="card-image"><%= cl_image_tag @dining.photo.key, height: 300, width: 400, crop: :fill %></div>
            <% end %>
            </div>
          </div>
            <div class="col">
              <div class ="dining-info p-5 text-justify">
                <p>Dinner for <%= @dining.max_guests %> guests, <%= @dining.bookings.count %> already booked. It will cost $<%= @dining.price %> for each.</p>
                <p><strong>Description:</strong> <%= @dining.comment %></p>
                <p><strong>When?</strong> <%= @dining.date %>, <%= @dining.time %></p>
                <p><strong>Where?</strong> <%= @dining.address %></p>
                <p><strong>What cuisine am I having?</strong> <%= @dining.category %></p>
                <div data-controller="bookings-create">
                  <% if @booking.present? %>
                      <%= link_to "Cancel", booking_path(@booking), method: 'delete', class: 'btn btn-danger', data: { action:"click->bookings-create#changeButton", bookings_create_target:"button" }%>
                  <% elsif  @dining.bookings.count < @dining.max_guests %>
                    <%= link_to "Reserve your spot!", dining_bookings_path(@dining), method: 'post', class: 'btn btn-success', data: { action:"click->bookings-create#changeButton", bookings_create_target:"button" }%>
                  <% else %>
                    <p> Sorry, this dining is fully booked </p>
                  <% end %>
                </div>
            </div>
              </div>
        </div>

  </div>


</div>

  <div class="d-flex justify-content-center mb-5">
      <div>
      <%= link_to edit_dining_path(@dining.id), class: 'button-orange'  do %>
          Edit this dining
      <% end %>
      </div>
      <div>
      <%= link_to dinings_path, class: 'device p-3 m-3' do %>
          Back to list
      <% end %>
      </div>
  </div>
