<div class="container">


<h1><%= @dining.name %></h1>
<hr>
<p class="well">Date: <%= @dining.date %></p>
<p class="well">Hour: <%= @dining.time %></p>
<p class="well">Address: <%= @dining.address %></p>
<p class="well">Category: <%= @dining.category %></p>
<p class="well">Max guests: <%= @dining.max_guests %></p>
<p class="well">Comment: <%= @dining.comment %></p>

<hr>
<%= link_to edit_dining_path(@dining.id), class: 'pull-right btn btn-primary' do %>
  <i class="fa fa-pencil"></i> Edit this dining
<% end %>
<br><br>

<div data-controller="bookings-create">
  <a class= 'btn btn-primary' data-action="click->bookings-create#changeButton" data-bookings-create-target="button">Reserve a spot</a>
</div>

<br><br>
<%= link_to dinings_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>

</div>
